$primary-font: 'Major Mono Display', monospace;

#contain-entries {
    max-width: 80%;
    margin: 1em auto;
}

.warning-icon {
    height: 20px;
    height: 20px;
}

.warning {
    font-size: .6em;
}

.response {
    padding: .2em;
    font-size: 1.3em;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    padding: .5em;
    border-radius: 3em;
    max-height: auto;
    max-width: 80%;
    margin: 1%;
}

.destination-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.travel-icon, .side-icon {
    height: 3em;
    width: auto;
    align-self: center;
    padding: 0em 1em;
}

.destination-header, .results-header {
    font-family: $primary-font;
    font-size: 2em;
    align-self: center;
}

.results-header {
    color: #0D47A1;
}

.flex-container {
    display: flex;
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 2em;
}

.sub-container {
    margin-left: 5em;
}

.warning-icon:hover {
    cursor: help;
    transition: .3s;
}

.warning-text {
    width: 30em;
    background-color: rgba(33, 150, 243, .97);
    color: #fff;
    text-align: center;
    padding: 1em;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: background-color .3s;
}

//media queries for smaller screens
@media(max-width: 955px) {
    body {
        font-size: 1em;
    }
    .results-header, .destination-header {
        font-size: 1.2em;
    }
    .side-icon, .travel-icon {
        height: 1em;
        width: auto;
        padding: 0em .5em;
    }
}

@media(max-width: 753px) {
    body {
        font-size: .7em;
    }
    .results-header, .destination-header {
        font-size: 1em;
    }
    .side-icon, .travel-icon {
        height: .7em;
        width: auto;
        padding: 0em .5em;
    }
    .weather-icon {
        height: 2em;
        width: auto;
    }
}

@media(max-width: 474px) {
    .flex-container {
        display: block;
    }
    .side-icon, .travel-icon {
        display: none;
    }
    .sub-container {
        margin: 0;
}
}